* { 
margin: 0; 
padding: 0; 
}

html {
    width: 100%;
    text-align: center;
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}

body {
    font-family: 'Helvetica', sans-serif;
    color: #000000;
    font-size: 1.5em; 
}

h1 {
    font-family: 'Courier';
    font-size: 5em;
    color: white;
    text-shadow: 5px 5px #000000;
}

h2 {
    font-family: 'Courier';
    font-size: 3em;
}

table {
    width: 70%;
    margin: 30px auto;
    background: rgba(255,255,255,0.9);
    border-radius: 10px;
    border-collapse: collapse;
}

th {
    text-align: left;
    padding: 10px 20px;
}

tr {
    height: 3em;
}

td {
    padding: 10px 20px;
}

.submit {
    font-size: 1.5em;
    background-color: black;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    margin: 20px;
}

.grandtotal {
    color: red;
    padding-left: 20px;
}

.grandtotal td {
    border-top: 1px solid #000;
}

.total {
    padding-left: 20px;
}